main {
  background-color: #007048;
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#img-serpente {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#img-serpente img {
  width: 70%;
  max-width: 400px;
}

.form-cadastro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.titulo-campo {
  width: 50%;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

.campo-cadastro {
  width: 50%;
  margin: 0.5rem 0;
}

.botao-cadastro {
  transition: 0.5s;
  width: 20%;
  padding: 1rem 0;
  background-color: #33a673;
  color: #ffffff;
  border-radius: 5rem;
  font-size: 1rem;
}

.botao-cadastro:hover {
  transition: 0.5s;
  background-color: #40c288;
}

.botao-login {
  margin: 1rem 0;
  color: #ffffff;
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
  .titulo-campo {
    font-size: 1.5vw;
  }

  .botao-cadastro {
    width: 50%;
    padding: 1.5vw 0;
    margin: 1vw 0;
    font-size: 1.5vw;
    font-weight: bold;
  }

  .botao-login {
    margin: 1vw 0;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #img-serpente {
    order: 1;
    width: 100%;
    margin: 3rem 0;
  }

  .form-cadastro {
    order: 0;
    width: 100%;
  }

  .titulo-campo {
    font-size: 3vw;
    width: 80%;
  }

  .campo-cadastro {
    width: 80%;
  }

  .botao-cadastro {
    width: 80%;
    padding: 3vw 0;
    margin: 2vw 0;
    font-size: 3vw;
  }

  .botao-login {
    width: 80%;
    font-size: 3vw;
  }
}
