<form>
    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="usuario.cpf" name="cpf">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="usuario.nome" name="nome">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nome de usuário</mat-label>
        <input matInput [(ngModel)]="usuario.nomeUsuario" name="nomeUsuario">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="usuario.senha" name="senhaUsuario">
    </mat-form-field>

    <button mat-fab (click)="cadastrarUsuario()">Cadastrar</button>
</form>