main {
    background-color: #007048;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1vw 0vw;
}

#titulo-subtitulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#titulo {
    width: 65%;
    text-align: center;
    color: #ffffff;
    font-size: 2.5vw;
}

#subtitulo {
    font-size: 1.5vw;
    width: 65%;
    color: #ffffff;
    font-weight: normal;
    margin: 1rem 0;
    text-align: center;
}

.titulo-area {
    width: 100%;
    background-color: #005738;
    font-size: 2vw;
    text-align: center;
    padding: 0.5vw 0vw;
    margin: 0.5vw 0vw;
}

.area-postagens {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    margin: 2vw 0vw;
}

.criar-postagem {
    color: #5ee24d;
}

.postagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.postagem {
    background-color: #f0fcf5;
    width: 30vw;
    border: 2px solid #ffffff;
    border-radius: 2vw;
    margin: 0.5vw 1vw;
}

.excluir-postagem {
    color: #ffffff;
    align-self: flex-end;
    height: 4vw;
    width: 4vw;
    position: absolute;
}

.titulo-postagem {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #005738;
    color: #ffffff;
    border-radius: 2vw 2vw 0 0;
    font-size: 1.5vw;
    padding: 0.5vw 0;
}

.conteudo-postagem {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #b1b1b1;
    text-align: center;
    width: 90%;
    margin: 1vw 0;
    height: 200px;
    border: 2px solid #b1b1b1;
    overflow: hidden;
}

figure img {
    width: 100%;
}

.discussao {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.votos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 1vw;
}

.voto {
    width: 45%;
    text-align: center;
    font-weight: bold;
}

.negativo {
    color: #ff3131;
}

.positivo {
    color: #4bc637;
}

.textos-discussao {
    width: 100%;
}

.texto-discussao {
    color: #000000;
    width: 100%;
    font-size: 1.2vw;
    text-align: center;
    margin: 0.1vw 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

mark {
    font-weight: bold;
    background-color: transparent;
}

.botao-encerrar {
    background-color: #005738;
    color: #ffffff;
    border-radius: 5rem;
    width: 95%;
    height: 3.5vw;
    font-size: 1.2vw;
    margin-top: 1.5vw;
}