<main>    
    <div class="espaco-postagens">
        <div id="titulo-subtitulo-postagens">
            <h1 id="titulo-lista-postagens">Discussões em aberto</h1>
            <h2 id="subtitulo-lista-postagens">Aqui você pode ajudar outras pessoas a identificarem conteúdos falsos ou golpes. Não deixe de participar das votações.</h2>
        </div>

        @for (postagem of postagens; track $index) {
            <mat-card class="postagem">
                <figure>
                    <img src="https://pweb1.my.canva.site/media/37174b13a96ce9bc8d29355e1482576f.png" alt="Imagem padrão">
                </figure>
                <h1>
                    <mat-card-header>{{ postagem.titulo }}</mat-card-header>
                </h1>
                <p>
                    <mat-card-content>{{ postagem.texto }}</mat-card-content>
                </p>
                
                
                
                <mat-card-actions>
                    <button mat-fab extended class="botao-voto like">
                        <mat-card-content class="conteudo-botao">
                            <mat-icon class="icone-botao">check</mat-icon>
                            <p class="contagem-botao">{{ postagem.like }}</p>
                        </mat-card-content>
                    </button>
                    
                    
                    <button mat-fab extended class="botao-voto dislike">
                        <mat-card-content class="conteudo-botao">
                            <mat-icon class="icone-botao">warning</mat-icon>
                            <p class="contagem-botao">{{ postagem.dislike }}</p>
                        </mat-card-content>
                    </button>
                </mat-card-actions>
            </mat-card>
        }
    </div>
</main>