<main>    
    <div class="espaco-postagens">
        <div id="titulo-subtitulo-postagens">
            <h1 class="fontForte" id="titulo-lista-postagens">Principais discussões</h1>
            <h2 id="subtitulo-lista-postagens">Aqui você pode ajudar outras pessoas a identificarem conteúdos falsos ou golpes. Não deixe de participar das votações.</h2>

            <mat-button-toggle-group id="aberto-fechado">
                <mat-button-toggle value="abertas" (click)="mostrarPostagens('abertas')">Em aberto</mat-button-toggle>
                <mat-button-toggle value="encerradas" (click)="mostrarPostagens('encerradas')">Encerradas</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div *ngIf="mostrarSecao[0]" class="exibicao-postagens" id="postagens-abertas">
            @for (postagem of postagensEmAberto; track $index) {
                <mat-card class="postagem">
                    <mat-card-actions class="botoes-acao">
                        <button mat-icon-button aria-label="Compartilhar" class="botao-acao share">
                            <mat-icon>share</mat-icon>
                        </button>
    
                        <p class="id-usuario">&#64;{{ postagem.username }}</p>
    
                        <button mat-icon-button aria-label="Reportar" class="botao-acao report">
                            <mat-icon>flag</mat-icon>
                        </button>
                    </mat-card-actions>
    
                    <figure>
                        <img [src]="postagem.link" alt="Imagem postagem">
                    </figure>
    
                    <h1 class="titulo-postagem">
                        <mat-card-header>{{ postagem.titulo }}</mat-card-header>
                    </h1>
    
                    <p class="texto-postagem">
                        <mat-card-content>{{ postagem.texto }}</mat-card-content>
                    </p>
                    
                    <mat-card-actions class="botoes-votar">
                        <button mat-fab extended class="botao-votar like" (click)="contarVoto(postagem, 'like')">
                            <mat-card-content class="conteudo-botao">
                                <mat-icon class="icone-botao">check</mat-icon>
                                <p class="contagem-botao">{{ postagem.like }}</p>
                            </mat-card-content>
                        </button>
    
                        <button mat-fab extended class="botao-votar dislike" (click)="contarVoto(postagem, 'dislike')">
                            <mat-card-content class="conteudo-botao">
                                <mat-icon class="icone-botao">warning</mat-icon>
                                <p class="contagem-botao">{{ postagem.dislike }}</p>
                            </mat-card-content>
                        </button>
                    </mat-card-actions>
                </mat-card>
            }
        </div>

        <div *ngIf="mostrarSecao[1]" class="exibicao-postagens" id="postagens-encerradas">
            @for (postagem of postagensEncerradas; track $index) {
                <mat-card class="postagem">
                    <mat-card-actions class="botoes-acao">
                        <button mat-icon-button aria-label="Compartilhar" class="botao-acao share">
                            <mat-icon>share</mat-icon>
                        </button>
    
                        <p class="id-usuario">&#64;{{ postagem.username }}</p>
    
                        <button mat-icon-button aria-label="Reportar" class="botao-acao report">
                            <mat-icon>flag</mat-icon>
                        </button>
                    </mat-card-actions>
    
                    <figure>
                        <img [src]="postagem.link" alt="Imagem postagem">
                    </figure>
    
                    <h1 class="titulo-postagem">
                        <mat-card-header>{{ postagem.titulo }}</mat-card-header>
                    </h1>
    
                    <p class="texto-postagem">
                        <mat-card-content>{{ postagem.texto }}</mat-card-content>
                    </p>
                    
                    <mat-card-actions class="contagem-votos">
                        <div class="contagem-like">
                            <mat-card-content class="conteudo-botao">
                                <mat-icon class="icone-botao">check</mat-icon>
                                <p class="contagem-botao">{{ postagem.like }}</p>
                            </mat-card-content>
                        </div>
    
                        <div class="contagem-dislike">
                            <mat-card-content class="conteudo-botao">
                                <mat-icon class="icone-botao">warning</mat-icon>
                                <p class="contagem-botao">{{ postagem.dislike }}</p>
                            </mat-card-content>
                        </div>
                    </mat-card-actions>
                </mat-card>
            }
        </div>
    </div>
</main>