header {
    background-color: #007048;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 4rem;
}

#logo {
    width: 100px;
    background-color: #ffffff;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
}

#botoes-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#botoes-header li {
    margin: 0 1rem;
}

.botao-header {
    font-size: 1rem;
    transition: 0.5s;
    width: 7rem;
    padding: 0.5rem 0;
    color: #ffffff;
    border-bottom: 2px solid #ffffff00;
}

.botao-header:hover {
    transition: 0.5s;
    border-bottom: 2px solid #ffffff;
}

main {
    background-color: #007048;
}

#botao-adicionar {
    transition: 0.5s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    outline: none;
    background-color: #33a673;
    color: #ffffff;
    border: 2px solid #ffffff00;
    border-radius: 5rem;
}

#botao-adicionar:hover {
    transition: 0.5s;
    background-color: #40c288;
    border: 2px solid #ffffff;
}

#tela-inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    padding: 3rem 0;
}

#tela-inicio li {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#ajuda-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#ajuda-inicio li {
    margin: 0.5rem 0;
    justify-content: flex-start;
}

#ajuda-inicio h1 {
    font-size: 2.2rem;
}

#ajuda-inicio h2 {
    font-size: 1.3rem;
}

#ajuda-inicio button {
    transition: 0.5s;
    background-color: #33a673;
    color: #ffffff;
    padding: 0.8rem 2rem;
    border-radius: 5rem;
    font-size: 1rem;
}

#ajuda-inicio button:hover {
    transition: 0.5s;
    background-color: #40c288;
}