<main>
  <figure id="img-serpente">
    <img
      src="https://i.imgur.com/Q4VmCH5.gif"
      alt="Serpente em volta de um smartphone"
    />
  </figure>
  <form class="form-login">
    <label class="titulo-campo">CPF:</label>
    <mat-form-field subscriptSizing="dynamic" class="campo-login">
      <input matInput [(ngModel)]="this.cpfUsuario" name="cpf" />
    </mat-form-field>
    <label class="titulo-campo">Senha:</label>
    <mat-form-field subscriptSizing="dynamic" class="campo-login">
      <input
        matInput
        type="password"
        [(ngModel)]="this.senhaUsuario"
        name="senhaUsuario"
      />
    </mat-form-field>
    <button class="esqueci-senha">Esqueci a senha</button>
    <button class="botao-login" (click)="entrarUsuario()">Entrar</button>
    <p id="cadastro">Ainda não tem uma conta? <button class="botao-cadastro"[routerLink]="['/cadastrar-usuario']">
      Cadastre-se agora.</button></p>
  </form>
</main>
