<form>
    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="this.cpfUsuario" name="cpf">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="this.senhaUsuario" name="senhaUsuario">
    </mat-form-field>

    <button mat-fab (click)="entrarUsuario()">Entrar</button>
</form>

<br>
<p>Ainda não está cadastrado? Cadastre-se agora.</p>
<button mat-fab [routerLink]="['/cadastrar-usuario']">Cadastrar</button>