main {
    width: 100%;
    background-color: #007048;
    padding: 2rem 0;
}

#criar-postagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

#titulo-postagem {
    width: 40%;
    color: #ffffff;
    font-size: 2.5rem;
}

#subtitulo-postagem {
    width: 50%;
    color: #ffffff;
    font-weight: normal;
    margin: 1rem 0;
}

.campo-postagem {
    width: 50%;
    margin: 0.5rem 0;
}

#botao-enviar {
    margin: 0.5rem 0;
    transition: 0.5s;
    width: 15%;
    color: #ffffff;
    background-color: #6ab65d;
    font-weight: bold;
    border-radius: 5rem;
    font-size: 1rem;
}

#botao-enviar:hover {
    transition: 0.5s;
    background-color: #92dc85;

}

@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 480px) {}